@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  color: #242424;
}

.part1 {
  display: block;
  font-weight: 800;
  font-size: 2.5rem;
  position: relative;
  top: 2rem;
}

.part2 {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: #6d6d6d;
  letter-spacing: 0.9rem;
  margin-bottom: 5rem;
}

.navbar {
  background-color: #efefef;
}

.mainNav {
  font-size: 1.2rem;
  margin-left: 20rem;
}

.nav-link {
  margin: 2rem 0 2rem 0;
  font-weight: 700;
  color: black;
}

.contactLink {
  width: 14rem;
  position: relative;
  left: 12rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #6d6d6d;
}
.contactIcon {
  position: relative;
  left: 12rem;
  bottom: 0.5rem;
  font-size: 2.5rem;
}

.mainContent {
  width: 100%;
  height: 100vh;
}

.slogan {
  margin-top: 12rem;
  margin-left: 6rem;
}

.sloganText {
  font-weight: 700;
  font-size: 6rem;
}

.siteImg {
  width: 24rem;
  position: relative;
  bottom: 2.9rem;
  right: 5rem;
}
.estDate {
  margin-left: 3.5rem;
  position: relative;
  bottom: 2rem;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  height: 8rem;
  width: 20rem;
  border-radius: 2rem;
  position: relative;
  bottom: 12rem;
}

.prodBtn {
  margin-top: 25rem;
  margin-left: 5rem;
}
.learnBtn {
  margin-top: 2rem;
  margin-right: 3rem;
}
.btnR {
  width: 50rem;
}

.btnA {
  background-color: #6d6d6d;
}

.btnS {
  margin: 6rem;
}

.title {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.titleCol {
  text-align: center;
}

.titleText {
  font-weight: 800;
  font-size: 4rem;
}

.tailoredText {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.subTitle {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.aboutCol {
  margin: auto;
  width: 55rem;
}

.picImg {
  text-align: center;
  margin: auto;
}
.picPfp {
  width: 10rem;
  margin-left: 30rem;
}

.pfp2 {
  width: 20rem;
}

.profileActual {
  margin-right: 3rem;
  width: 70%;
  line-height: 2rem;
}

.CTEF {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.ctefText {
  margin: auto;
  margin-top: 3rem;
  width: 60%;
}

.carousel-control-prev-icon {
  color: black;
}

.teamSlider {
  margin-bottom: 2rem;
}

.productText {
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  color: #6d6d6d;
}

.prodPic {
  width: 80%;
  margin-top: 4rem;
  margin-left: 8rem;
}

.prodHead {
  font-size: 3rem;
}

.aboutProd {
  margin-top: 4rem;
}
